---
layout: default
---

<iframe id="fork-button" src="http://markdotto.github.com/github-buttons/github-btn.html?user=pypug&amp;repo=githubbers&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.5.0-dev/mustache.min.js"></script>
<script>
  var Githubbers = {
    apiBaseURL: 'https://api.github.com',
    init: function() {
      var githubberTemplate = $('#githubber-template').remove().html()
      var $githubbers = $('#githubbers')

      $('li', $githubbers).each(function(i, x, y, z) {
        var $githubber = $(this)
        $.ajax({
          url: Githubbers.apiBaseURL + '/users/' + $githubber.text(),
          dataType: 'jsonp'
        }).done(function(response) {
          $githubber.html(
            Mustache.render(githubberTemplate, response.data)
          ).fadeIn()
        })
        if (i % 4 == 0) {
          $githubber.addClass('alpha')
        }
        if ((i + 1) % 4 == 0) {
          $githubber.addClass('omega')
        }
      })
    }
  }

  $(document).ready(Githubbers.init)
</script>

<script id="githubber-template" type="text/html">
  {{'{{'}}=<% %>=}}
  <img src="<% avatar_url %>" alt="<% login %>">
  <div class="info">
    <span class="login"><a href="<% html_url %>" target="_blank"><% login %></a></span>
    <span class="name"><% name %></span>
    <span class="followers"><% followers %> followers</span>
    <span class="location"><% location %></span>
    <span class="bio"><% bio %></span>
  </div>
</script>

<div id="githubbers">
  <ul class="clearfix">
  {% for githubber in site.githubbers %}
    <li class="four columns">{{ githubber }}</li>
  {% endfor %}
  </ul>
</div>
